body {
            font-family: 'VT323', monospace;
            font-size: 20px;
            background-color: #000;
            color: #f3f3f3;
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
        }

        #output {
            height: 600px;
            overflow-y: auto;
            word-wrap: break-word;
            padding: 10px;
            background-color: #000;
            color: #f3f3f3;
            font-size: 1.2em;
        }

        .input-container {
            display: flex;
            font-family: 'VT323', monospace;
            background-color: #000;
            padding: 10px;
            align-items: center;
        }

        .prefix {
            margin-right: 5px;
            font-size: 1.2em;
            color: #f3f3f3;
            line-height: 24px;
        }

        #input {
            font-family: 'VT323', monospace;
            width: 100%;
            padding: 5px 5px;
            background-color: #000;
            color: #f3f3f3;
            border: none;
            border-radius: 8px;
            outline: none;
            line-height: 24px;
            font-size: 1.2em;
        }

        #input::placeholder {
            color: #888;
            font-family: 'VT323', monospace;
            font-style: italic;
        }

        button {
            font-family: 'VT323', monospace;
            background-color: #444;
            color: #f3f3f3;
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        #functionList li {
            background-color: #444;
            padding: 5px;
            border-radius: 3px;
            margin-bottom: 5px;
        }

        #functionList div {
            margin-top: 5px;
            display: flex;
            gap: 10px;
        }

        input {
            font-family: 'VT323', monospace;
            background-color: #222;
            color: #f3f3f3;
            border: 1px solid #444;
            border-radius: 3px;
            padding: 5px 10px;
            outline: none;
            width: auto;
            margin-top: 5px;
        }

        input[type="number"] {
            width: 100px;
        }
